* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

#Logo {
  border-radius: 50%;
}

nav {
  width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logoText,
.nav--title {
  margin: 0;
}

.nav--logoText {
  margin-right: auto;
  color: #ba9770;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

nav > img {
  height: 50px;
  margin-right: 7px;
}

.main {
  margin: auto;
  width: 700px;
  padding: 57px 27px;
  background: url("./images/DivaXMAS-removebg.png");
  background-position: 180%;
  background-repeat: no-repeat;
  background-size: 75%;
  color: white;
}

.main--title {
  color: #a8d9e4;
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li::marker {
  color: #ba9770;
  font-size: 1.4rem;
}
